<div id="about-container">
  <p class="about-item about-name">[ Journey1969 ]</p>
  <p class="about-item">Inspired by <a href="https://en.touhouwiki.net/wiki/List_by_Song/Imperishable_Night#Final_stage_theme" target="_blank">Voyage 1969</a> from the game <a href="https://en.touhouwiki.net/wiki/Imperishable_Night" target="_blank">Imperishable Night</a></p>
  <p class="about-item">Find me on <a href="https://github.com/Journey1969" target="_blank">Github</a>, <a href="http://weibo.com/journey1969" target="_blank">Weibo</a>, <a href="https://www.v2ex.com/member/Journey1969" target="_blank">v2ex</a></p>
  <p class="about-item">Or email to <a href="mailto:me@journey1969.com">me@journey1969.com</a></p>
  <p class="about-item about-quote">-> const bygones = null;<br>&nbsp;&nbsp;&nbsp;let future = undefined;<br>&nbsp;&nbsp;&nbsp;beStronger();</p>
</div>
