<div id="about-container">
  <p class="about-item about-name">[ Journey1969 ]</p>
  <p class="about-item about-quote">let future = undefined;</p>
  <p class="about-item">Find me on <a href="https://github.com/Journey1969" target="_blank">Github</a>, <a href="http://weibo.com/journey1969" target="_blank">Weibo</a>, <a href="https://www.v2ex.com/member/Journey1969" target="_blank">v2ex</a></p>
  <p class="about-item">Or mail to <a href="mailto:me@journey1969.com">me@journey1969.com</a></p>
</div>
