<% page.posts.each(function(post) { %>
  <%- partial('_partial/article', {post: post, index: true}) %>
<% }) %>

<% if (page.total > 1) { %>
  <nav id="pagination-container">
    <%- paginator({
      prev_text: "PREV",
      next_text: "NEXT"
    }) %>
  </nav>
<% } %>
