<% if (theme.theme_style === 'normal') { %>
  <% page.posts.each(function(post) { %>
    <%- partial('_partial/article', {post: post, index: true}) %>
  <% }) %>
  <% if (page.total > 1) { %>
    <nav id="pagination-container">
      <%- paginator({
        prev_text: __('prev'),
        next_text: __('next')
      }) %>
    </nav>
  <% } %>
<% } else if (theme.theme_style === 'plain'){ %>
  <%- partial('archive') %>
<% } %>
