#about-container
  padding: 1rem

  .about-item
    max-width: 500px
    line-height: 1.5rem
    margin: 1rem auto
    a
      color: site-main-blue
      &:visited
        color: site-main-blue

  .about-name
    color: site-main-blue
    font-size: 1.5rem

  .about-quote
    color: site-main-gray
    font-size: 14px
    font-family: "Roboto Mono"
