#footer
  background: linear-gradient(#444, #333)

#footer-container
  min-height: 120px

  display: flex
  align-items: center
  justify-content: center

#footer-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 1rem

  list-style: none
  color: #aaa

  .footer-list-item
    margin-right: 1rem

    .footer-list-item-link
      color: #aaa
      &:hover
        color: #fff
