#footer
  background: linear-gradient(#444, #333)

#footer-container
  min-height: 120px
  display: flex
  align-items: center
  justify-content: center

#footer-list
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 1rem

  .footer-copyright
    flex: 0 0 100%
    text-align: center

  .footer-list-item
    margin: 0 0.5rem
    list-style: none
    color: site-main-gray
    .footer-list-item-link
      color: site-main-gray
      &:visited
        color: site-main-gray
      &:hover
        color: color-white
