#header
  background: -webkit-linear-gradient(240deg, #00CED1, #4169E1)

#header-container
  max-width: container-max-width
  height: 240px
  padding: 1rem
  margin: 0 auto
  box-sizing: border-box

  display: flex
  flex-direction: column
  justify-content:  flex-end
  align-items: center

#header-title
  width: 100%
  flex: 1
  background-repeat: no-repeat
  background-position: center center
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAoCAYAAACIC2hQAAABYklEQVRYR+3XvQ0CMQwFYK6gZQJKFmEVBmMVFqFkAloKUJCCfMFxnu3EEiI0FFzClxfn55bNj3wWznm4nJ41//V4ZtuMHu/qTyVgCYkGf6AaZEZHYt9QC9KDtZRWFfq43Vezvd3vqmWIJqsJpOwTTpTCObSE1QBpGrRPGJo7yOASy0GtQA6rhqZOECyCLMsrA7kQzKuew9JUJWirjLit0AzNydLRZyiH1OLK6Tdv+NLJRaEeIN0Cv45DpLbQ47JWy2h7Eeo9AFq7gxaZnk8lJV4wrOn2SjIj0zd0E7KCLemJG762wwg4e4Rqoa07LLqfcv3UjmJo6lsDoQnX/qg1C62LjRuKIFsDRX7vBm0lgmCkZ1zQqDTh7ak20gwdnaYLGplmF2hEmhPqXeFce/Oqj1xIc+rn1FsSmDVaSe1/Vj19r7GUENrGnGj5tjr6KHVBKfZnoKNLwJ1oVKpdoOiC8Dz3Aln25ymygFX2AAAAAElFTkSuQmCC')

#header-nav
  display: flex
  .header-nav-link
    margin: 0 0.8rem
    color: site-main-light-gray
    &:visited
      color: site-main-light-gray
    &:hover
      color: color-white
