.html
  .name
    color: #E06C75

  .attr
    color: #E8BB5E

  .string
    color: #98C379

  .comment
    color: #888

.javascript
  .keyword
    color: #DA80EA

  .string
    color: #98C379

  .number
    color: #E8BB5E

  .comment
    color: #888

.bash
  .string
    color: #98C379
