// mixin
square-define(width=2rem, line_height=2rem)
  display: block
  height: 2rem
  width: width
  margin: 0 1rem 1rem 0
  border-radius: 10%

  text-align: center
  line-height: line_height

// ----------------------------------------

#main-container
  max-width: container-max-width
  min-height: main-container-min-height
  margin: 0 auto
  padding: 1rem
  box-sizing: border-box

  &:before
    content: ""
    display: block
    height: 0
    width: container-max-width
    visibility: hidden

  .read-more-link
    margin: 2rem auto 1rem
    text-align: center
    a
      padding: 0.5rem
      color: site-main-black
      border: 1px solid site-main-black
      border-radius: 5px
      &:hover
        color: site-main-blue
        border-color: site-main-blue

  .seperate-bar
    margin-top: 2rem
    border-bottom: 1px dashed site-main-gray

#pagination-container
  max-width: container-max-width
  margin: 1rem auto

  display: flex
  flex-wrap: wrap
  justify-content: center

  .page-number
    square-define()
    color: site-main-gray
    &:visited
      color: site-main-gray
    &:hover
      color: color-white
      background-color: site-main-gray

  .current
    color: color-white
    background-color: site-main-black
    &:hover
      color: color-white
      background-color: site-main-black

  .extend
    padding: 0 5px
    square-define(3rem)
    color: site-main-gray
    &:visited
      color: site-main-gray
    &:hover
      color: color-white
      background-color: site-main-gray

  .space
    square-define(2rem, 1.5rem)
