html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, td, tr, table, pre, figure
  margin: 0
  padding: 0

html
  font-family: 'Droid Sans'

a
  text-decoration: none

@font-face {
  font-family: "Consolas"
  src: url('http://oa97mm615.bkt.clouddn.com/Consolas.ttf')
}
