html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, p, td, tr, table, pre, figure
  margin: 0
  padding: 0

@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css)

html
  font-family: 'Roboto', 'Microsoft YaHei', 'Noto Sans SC'

a
  text-decoration: none
  outline: none
