// global variables
// size
container-max-width = 800px
main-container-min-height = calc(100vh - 120px)

// colors
site-main-blue = #276bc4
site-main-gray = #aaa
site-main-light-gray = #ddd
site-main-very-light-gray = #eee
site-main-black = #444
color-white = #fff
color-black = #000

@import "_reset"
@import "_header"
@import "_index"
@import "_article"
@import "_footer"
@import "_archive"
@import "_about"
