<footer id="footer">
  <div id="footer-container">
    <ul id="footer-list">
      <li class="footer-list-item">&copy;2017 <a class="footer-list-item-link" href="http://journey1969.com" target="_blank">Journey1969.com</a></li>
      <li class="footer-list-item">Powered by <a class="footer-list-item-link" href="https://hexo.io" target="_blank">Hexo</a></li>
      <li class="footer-list-item">Theme: <a class="footer-list-item-link" href="https://github.com/Journey1969/hexo-theme-transient" target="_blank">Transient</a></li>
    </ul>
  </div>
</footer>
