<header id="header">
  <div id="header-container">
    <p id="header-title"></p>
    <nav id="header-nav">
      <a class="header-nav-link" href="<%- url_for(theme.menu.home) %>">Home</a>
      <% if (theme.theme_style === 'normal') { %>
        <a class="header-nav-link" href="<%- url_for(theme.menu.archive) %>">Archive</a>
      <% } %>
      <a class="header-nav-link" href="<%- url_for(theme.menu.about) %>">About</a>
    </nav>
  </div>
</header>
